@font-face {
    font-family: 'bluunext-bold';
    src: url('../font/bluunext-bold.ttf') format('truetype'),
   		url('../font/bluunext-bold.woff') format('woff'),
   		url('../font/bluunext-bold.woff2') format('woff2'),
        }

/* Click-to-Start-Page CSS Style */
.startpage { 
	background-image: url("../images/frog-dessect1.png");
	background-size: 120%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #637157;
	;
}


.startpage-head {
	position: relative;
	top: 250px;
	text-align: center;
}

.open-head {
	font-size: 250px;
	font-family: 'bluunext-bold', normal;
	color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #b2c997;

}
.start {
	font-family: meno-display, serif;
	font-weight: 700;
	font-style: normal;
	font-size: 29px;
	color: #b2c997;}

/* Homepage CSS Style */

.homepage-body {
	background-color: #637157;
	position: fixed;
  	right: 0;
  	bottom: 0;
  	min-width: 100%;
  	min-height: 100%;
  	
}

.homepage-header { display: grid;
	grid-template-columns: 50% 297px 50%;
    grid-template-rows: 50% 190px 50%;

}


.one {grid-column: span 3;
        grid-row: 1;
        padding-left:40px;
    }        
.two {grid-column: span 3 ;
        grid-row: 2;}    
.three{grid-column: span 2 ;
        grid-row: 3 ;}
.four {grid-column: span 1;
        grid-row: 3;
    }

.homepage-nav {margin:20px;
			position: absolute;
			bottom:8px;
			align-content: bottom;
			padding-left: 25px;
			padding-bottom: 20px;	
				}

.linedetail {margin-bottom: 20px;}				

#frogvid {
	position: fixed;
    left: 20px;
    right: 10px;
    bottom: 5px;
    width: 1224px;
    height: 792px;
    display: block;
    object-fit: cover;
    z-index: 0;
    overflow: hidden;
  }

.frgs {font-size: 250px;
	font-family: 'bluunext-bold', normal;
	color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #b69949;
    position: relative;
    z-index: 9999;
	}

.gs {padding-bottom: 50px
	padding-left: 20px;}	

/* Anatomy-Page Exterior CSS Style */
.hidden-frog {font-size: 70px;
	font-family: 'bluunext-bold', normal;
	color: #58664a;
	padding-left: 40px;
	position: absolute;
	padding-top:10px;
}


.anatomy-grid {display: grid;
	grid-template-columns: 20% 60% 20%;
	position: relative;
	top: 20px;
	}

.grid-one {grid-column: span 1;}
.grid-two {grid-column: span 1;}
.grid-three {grid-column: span 1;}

.anatomy-body {
	background-color: #58664a;
	background-image: url("../images/texture1.png");
	background-size: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat}

.anatomy-h1	{font-size: 100px;
	font-family: 'bluunext-bold', normal;
	color: #b2c997 ;
	left:90px;
	position: relative;
	top: 30px;
	z-index: 600;
	text-transform: uppercase;
	}

.anatomy-nav {
	position: fixed;
	bottom:8px;
	align-content: bottom;
	padding-left: 40px;
	padding-bottom: 40px;
			}	
.linedetail-two {
	position: fixed;
	bottom:8px;
	margin-bottom: 90px;
	align-content: bottom;
	padding-left: 40px;
	padding-bottom: 40px;}

.skeleton {position:relative;
max-width: 100%;
bottom:20px;
right:30px;}

.arrow-right {
	position:relative;
	z-index: 5;
	bottom:68px;
	left:400px;
}




/* Anatomy-Page Skeleton CSS Style */
.arrow-left {
	position:relative;
	z-index: 7;
	bottom:68px;
	left:290px;
}

/* Species-Page CSS Style */	

.species-body {
	background-color: #58664a ;
	background-image: url("../images/texture1.png");
	background-size: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}

.species-h1	{font-size: 100px;
	font-family: 'bluunext-bold', normal;
	color: #b2c997 ;
	left:356px;
	position: fixed;
	top: 50px;
	z-index: 600;
	text-transform: uppercase;
	}

h5 {
	font-size: 20px;
	font-family: 'bluunext-bold', normal;
	color: #b2c997 ;
	font-size: 20px;
	color: #b2c997 ;
	line-height: 26px;
	letter-spacing: .12px;
	padding: 0px 20px 0px 30px
}

h6 {font-size: 18px;
	font-family: 'meno-display, serif';
	color: #b2c997 ;
	padding-left: 400px
	width: 100%;
	font-weight: 400;
	font-style: italic;
	padding: 0px 20px 0px 30px;
}

#text {
	font-family: meno-display, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 15px;
	color: #b2c997 ;
	line-height: 23px;
	letter-spacing: .12px;
	padding: 0px 20px 0px 30px;
	

}

.speices-img {position:relative;
max-width: 100%;
bottom:20px;
}

.speices-img2 {position:relative;
max-width: 100%;

top:100px;
}

.speices-img3 {position:relative;
max-width: 100%;
top:320px;

}
.speices-img4 {position:relative;
max-width: 100%;

top:490px;

}
.speices-img5 {position:relative;
max-width: 100%;

top:720px;
}



.species-grid {display: grid;
	grid-template-columns: 14% 58% 28%;
	position: relative;
	top: 20px;
	}


.species.grid-one {grid-column: span 1;}
.species.grid-two {
	grid-column: span 1;
	margin-top:100px;
	max-height: auto;
 }

.species.grid-three {grid-column: span 1;
	display:grid;
	grid-template-rows: repeat(5, 20%);
margin-top:140px;
grid-row-gap: 190px;}

.uno {grid-row:span 1;
	max-height: auto;
}
.dos {grid-row:span 1;
	max-height: auto;
	}
.tres {grid-row:span 1;
	max-height: auto;
	}
.quatro {grid-row:span 1;
	max-height: auto;
	}
.cinco {grid-row:span 1;
	max-height: auto;
	}

/* Facts-Page CSS Style */
.facts-body {
	background-color: #58664a;
	background-image: url("../images/texture2.png");
	background-size: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;}

.facts-body {background-color: #58664a ;}

.facts-h1	{font-size: 100px;
	font-family: 'Bluunext-bold', normal;
	color: #b2c997 ;
	padding-left: 350px;}

.facts-main {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%;
	
	max-width:100vw;
	margin-top: 155px;
	overflow: hidden;
	
}	

#facts-h4 {font-family: meno-display, serif;
font-weight: 600;
font-style: normal;
font-size: 29px;
text-decoration: underline;
text-decoration-line: 5px;
color: #b2c997 ;
	}

.facts.text {grid-column: span 1;
        grid-row: 1;
        padding-left: 45px;
    	padding-right: 73px;}

.facts-text-two {grid-column: 2;
        grid-row: 2;
        padding-left: 45px;
    	padding-right: 70px;
    	padding-bottom:50px;
    	padding-top:100px;
    	margin-bottom:150px;

   }    	
.frogfacts-two {
	max-width:90%;
	grid-column: 1;
        grid-row: 2;
       padding-left:75px;
       padding-top:20px;
}
.facts.frog-one {padding-right:150px;}
.frogfacts-one {
	max-width:120%;
	grid-column: 2;
        grid-row: 1;
        padding-right:300px;
}



/* Dissection-Page CSS Style */	

.dissected-body {
	background-color: #58664a;
	background-image: url("../images/texture2.png");
	background-size: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;}

.dissected-header {display: grid;
	grid-template-columns: 40% 60%;
width:100%;
max-width: 1440px;
height: 100px;
background-color:#444c36;
position: fixed;
top:0px;
left:0px;}

.dissected-h1	{font-size: 70px;
	font-family: 'Bluunext-bold', normal;
	color: #b2c997 ;
	padding: 10px 0px 10px 45px;
	}

.dissect-main {
	display: grid;
	grid-template-columns: 40% 60%;
	max-width:100vw;
	margin-top: 140px;
	overflow:hidden;

}	

.dissected-nav {
	display: inline-block;
	margin: 40px 0px 20px 20px;
	
}
.dissected-ul {
	list-style-type: none;
	min-height: 100px;
	min-width: 200px;
	position: relative;
			left:150px;
			bottom: 20px;

}

.dissected-li { 
	display: inline-block;
	margin-right: 40px;
	margin-top:40px;
	text-transform: uppercase;
	padding: 18px;
	
}

.text {grid-column: span 1;
        grid-row: auto;
        padding-left: 45px;}
.imgs {grid-column: span 1;
        grid-row: auto;
        overflow: hidden;
        padding-top: 55px;
  }        


.dissected-frog-img {overflow-x:hidden;
scale: 60%;}



/* Accross-Pages-Design CSS Style */

p {font-family: meno-display, serif;
font-weight: 400;
font-style: normal;
font-size: 16px;
color: #b2c997 ;
line-height: 23px;
letter-spacing: .12px;
}	

h4 {font-family: meno-display, serif;
font-weight: 600;
font-style: normal;
font-size: 29px;
text-decoration: underline;
text-decoration-line: 5px;
color: #b2c997 ;}

nav {
	font-family: neue-haas-grotesk-display, sans-serif;
	font-weight: 500;
	font-style: normal;
	text-transform: uppercase;
	color:#b2c997 ;
	line-height: 18px;
	position: relative;
	z-index: 998;}


footer {background-color:#a08b47;
min-height: 300px; 
display: block;
overflow: scroll;
margin-top: 50px;
}



/* Link Effects*/
}
a {text-decoration: none;
color: #b2c997 ;}
a:link {
  text-decoration: none;
  color: #b2c997 ;
}
a:visited {
  text-decoration: none;
  color: #b2c997 ;
}
a:hover {
  text-decoration: none;
  color: #a08b47;
}
a:active {
  text-decoration: none;
  color: #b2c997 ;
}

.hidden-frogs:link {text-decoration: none;
color: #58664a;}
.hidden-frogs:visited {text-decoration: none;
color: #58664a;}
.hidden-frogs:hover {text-decoration: none;
color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #a08b47}
.hidden-frogs:active {
  text-decoration: none;
  color: #58664a ;
}


/*Scrollbar edits*/

/* width */
::-webkit-scrollbar {
  width: 8px;
  border-radius: 6px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #58664a;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #414c34;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a08b47;
}

